html,body {
    font-family: 'Raleway', sans-serif;
    padding: 1em 2em;
    font-size: 36px;
    background: #222;
    color: #aaa
  }
  
  h1,h2 {
    font-weight: 200;
    margin: 0.4em 0;
    text-align: center;
    line-height: 500px;
  }
  h1 { font-size: 3.5em; }
  h2 {
    color: #888;
    font-size: 2em;
  }
